


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: block;
}

.logo {
    width: 40px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



























/* .row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    width: 40px;
}

img {
    width: 2.5rem;
    margin-right: 0.75rem;
    margin-left: auto;
}


.light__DesktopNavLinks {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}


.light__NavLink {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 900;
    border-bottom-width: 0px px;
    font-size: 1.5rem !important;
    margin-left: 0px !important;
    text-decoration: none;
}

.light__NavLinks {
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    font-size: 1.125rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
    letter-spacing: 0.025em;
    transition-duration: 300ms;
    padding-bottom: 0.25rem;
    border-bottom-width: 2px;
    border-color: transparent;
    text-decoration: none;
}
                         */